<div class="container">
		<div class="row">
		<div class="col-md-12">

		<nav class="navbar navbar-inverse bg-dark">
		    <div class="container-fluid">
			    <div class="navbar-header">
			    	<a class="navbar-brand" href="/">Mongo Scraper</a>
			    </div>
			    <ul class="nav navbar-nav">
				    <li class="active"><a href="/">Home</a></li>
				    <li><a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a></li>
			    </ul>
		    </div>
		</nav>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron text-center">
				  <div class="overlay">
				  </div>
				  <div class="background-image">
				  </div>
				  <div class="caption">
				    <h1>Mongo Scraper</h1>
				    <p>New York Times Edition</p>
				  </div>
			</div>
		</div>
	</div>

{{#each news}}
<div class="card article">
  <h5 class="card-header">News</h5>
  <div class="card-body">
    <a class="card-title" href={{this.link}}>{{this.title}}</a>
    <p class="card-text">summary{{this.sum}}</p>
    <button type="button" data-id={{this._id}} data-toggle="modal" data-target="#addCommentModal" class="btn btn-primary comment-btn">Comment</button>
  </div>
</div>
{{/each}}

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addCommentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group modal-body">
      	<form class="addCommentForm">
      		<input class="form-control addCommentInput" type="hidden" name="articleID" id="targetArticle" value="">
      		<input class="form-control addCommentInput" type="text" name="title">
      		<br>
      		<textarea class="form-control addCommentInput" name="body"> 
      		</textarea>	
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close btn-primary submitCommentBtn" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<footer>
	<div class="container">
		<p>CNN News Mongo Scraper</p>
	</div>
</footer>


